
/*
*= require select2
*= require select2-bootstrap
*/
@import "bootstrap";

.card {
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 300px;
  margin-top: 25px;
}

.large-card {
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 60%;
  margin-top: 25px;
  padding-top: 25px;
}
.tag {
  margin: 5px;
}
.tag-bg {
  background-color: rgba(51,153,255,0.5);
  padding: 5px;
  border-radius: 5px;
}

.image {
  width: 300px;
  height: auto;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 25px;
}

.icon {
  height: 20px;
}
